/* font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* shared style */
.display-flex {
    display: flex;
}



/* main style */
nav {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.logo {
    font-size: 1.5rem;
    color: #3A3A3A;
}

.menu ul {
    gap: 34px;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: #3A3A3A;
    transition: 0.3s ease;
}

.menu li a:hover {
    color: #E02C6D;
}

/* responsiveness for small devices */
@media screen and (max-width: 576px) {
    .display-flex {
        flex-direction: column;
    }

    nav {
        margin-top: 40px;
    }

    .menu {
        margin-top: 20px;
        max-width: 90%;
    }

    #menu-bar {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}


/* responsiveness for tablet device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    nav {
        max-width: 90%;
    }
}